audio {
  height: 20px;
  width: 12rem;
  color: white;
}

audio::-webkit-media-controls-panel {
  background-color: #5b5b60;
}

audio::-webkit-media-controls-mute-button {
  color: #fff;
  fill: #fff;
}

@media only screen and (max-width: 640px) {
  audio {
    width: 11rem;
  }
}
